@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
.app__input__number, .app__output__item.copy {
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C9C9C9;
  font-family: 'Zen Loop', cursive;
}

.GitHub {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 48px;
  right: 48px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #FF0D70;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.GitHub::before {
  content: 'GitHub';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.GitHub::after {
  content: '';
  width: 150%;
  height: 150%;
  position: absolute;
  top: -150%;
  left: -150%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  background-color: #ec0056;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.GitHub:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 8px 8px 0 1px #818181;
          box-shadow: 8px 8px 0 1px #818181;
}

.GitHub:hover::after {
  top: 0;
  left: 57%;
  opacity: 1;
}

#app {
  width: 100vw;
  background-color: #CCA163;
  -webkit-transition: .2s;
  transition: .2s;
}

#app:hover {
  -webkit-box-shadow: 8px 8px 0 1px #818181;
          box-shadow: 8px 8px 0 1px #818181;
}

.app__fake-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.app__input {
  background-color: #FF0D70;
}

.app__input__number {
  width: 100%;
  height: 84px;
  padding-left: 1rem;
  background-color: #F5F5F5;
  font-size: 3rem;
  font-family: inherit;
}

.app__input__number::-webkit-inner-spin-button {
  display: none;
}

.app__input__number--wrapper {
  position: relative;
}

.app__input__number--wrapper::after {
  content: 'X';
  height: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.app__input__number--wrapper:hover::after {
  opacity: 1;
}

.app__input__radio-group {
  width: 100%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-size: 2rem;
  color: #fff;
}

.app__input__radio-group label {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.app__input__radio-group label:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.app__input__radio-group input[type='radio'] {
  display: none;
}

.app__input__radio-group input[type='radio']:checked + label {
  border-bottom: 1px solid #fff;
}

.app__output {
  width: 100%;
  height: calc(84px * 2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (84px)[2];
      grid-template-rows: repeat(2, 84px);
}

.app__output__item {
  width: 100%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.app__output__item.fahrenheit, .app__output__item.kelvin {
  background-color: #F5F5F5;
}

.app__output__item.celsius, .app__output__item.copy {
  color: #fff;
}

.app__output__item.copy {
  position: relative;
  overflow: hidden;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #FF0D70;
  cursor: pointer;
}

.app__output__item.copy::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  background-color: #ec0056;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.app__output__item.copy:hover::before {
  left: 80%;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  #app {
    width: 320px;
  }
}

@media screen and (min-width: 992px) {
  #app {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app__input {
    min-width: 320px;
  }
  .app__output {
    width: 320px;
  }
}
/*# sourceMappingURL=main.css.map */