@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

$light: #F5F5F5;
$gray-400: #C9C9C9; // 201, 201, 201
$gray-600: #818181;
$dark: #080017;
$highlight-400: #FF0D70;
$highlight-600: #ec0056;
$sub: #CCA163;
$white: #fff;
$black: #000;

%resetInputStyle {
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $gray-400;
  font-family: 'Zen Loop', cursive;
}

.GitHub {
  width: 360px;
  height: 36px;

  position: fixed;
  top: 30px;
  right: -120px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  text-decoration: none;
  background-color: $sub;
  transform: rotate(40deg);
  transition: .2s;

  &::before {
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    top: 13%;
    border: 1px dashed $white;
  }

  &:hover {
    transform: rotate(40deg) translate(-4px, -4px);
    box-shadow: 8px 8px 0 1px $gray-600;
  }
}

#app {
  width: 100vw;
  background-color: $sub;
  transition: .2s;

  &:hover {
    box-shadow: 8px 8px 0 1px $gray-600;
  }
}

.app__fake-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.app__input {
  background-color: $highlight-400;
}

.app__input__number {
  width: 100%;
  height: 84px;
  padding-left: 1rem;
  // reset input style
  @extend %resetInputStyle;
  // reset end
  background-color: $light;
  font-size: 3rem;
  font-family: inherit;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &--wrapper {
    position: relative;
  }

  &--wrapper::after {
    content: 'X';
    height: 100%;
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 1;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    font-size: 3rem;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
  }

  &--wrapper:hover::after {
    opacity: 1;
  }
}

.app__input__radio-group {
  width: 100%;
  height: 84px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  font-size: 2rem;
  color: $white;

  label {
    cursor: pointer;
    transition: .2s;
  }
  label:hover {
    transform: translateY(-4px);
  }

  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked+label {
    border-bottom: 1px solid $white;
  }
}

.app__output {
  width: 100%;
  height: calc(84px * 2);

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 84px);
}

.app__output__item {
  width: 100%;
  height: 84px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;

  font-size: 1.5rem;
  text-align: center;

  &.fahrenheit,
  &.kelvin {
    background-color: $light;
  }

  &.celsius,
  &.copy {
    color: $white;
  }

  &.copy {
    // reset input style
    @extend %resetInputStyle;
    // reset end
    position: relative;
    overflow: hidden;
    font-family: inherit;
    text-transform: uppercase;
    background-color: $highlight-400;
    cursor: pointer;
  }
  &.copy::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    background-color: $highlight-600;
    opacity: 0;
    transition: .2s;
  }
  &.copy:hover::before {
    left: 80%;
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
  #app {
    width: 320px;
  }
}

@media screen and (min-width: 992px) {
  #app {
    width: auto;
    display: flex;
  }

  .app__input {
    min-width: 320px;
  }

  .app__output {
    width: 320px;
  }
}